<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "jake.friend.mapper.BoardMapper">

<insert id = "fcreate" parameterType="bbs">
	insert into tb_bbs (b_title, b_content, u_name, category) values (#{b_title}, #{b_content}, #{u_name}, 0)
</insert> <!-- 사진 파일 등록 -->

<insert id = "bcreate"> <!-- 게시판 등록을 위한  -->
	insert into tb_bbs(b_title, b_content, u_name, category) 
	values (#{b_title}, #{b_content}, #{u_name}, 1)
</insert>

<select id = "read" resultType = "bbs">
	select b_title, b_seq, b_content, u_name, b_regdate from tb_bbs where b_seq = #{b_seq}
</select>

<update id = "update" parameterType="bbs">
update tb_bbs set b_title = #{b_title}, b_content = #{b_content}, 
	b_regdate = CURRENT_TIMESTAMP where b_seq = #{b_seq}
</update>

<update id = "delete">
update tb_bbs set b_status = 1 where b_seq = #{b_seq}
</update>

<select id = "listAll" resultType="bbs">
	<!-- select * from tb_bbs where b_seq != 1 and category = 1 order by b_seq desc, b_regdate desc -->
	SELECT @RNUM := @RNUM + 1 AS ROWNUM, t.* 
	FROM (SELECT * FROM tb_bbs WHERE category = 1 and b_seq != 1) t, 
	( SELECT @RNUM := 0 ) R limit #{pageStart}, #{perPageNum}
</select>
<select id = "listCriteria" resultType="bbs"> <!-- Cri를 적용한 친구인데 기존과 뭐가 다르지 -->
	select * from tb_bbs where category = 1 and b_status !=1
	order by b_seq desc, b_regdate desc 
	limit #{pageStart}, #{perPageNum} 
</select>

<select id = "countPaging" resultType = "int">
	select count(b_seq) from tb_bbs where b_status != 1 and category = 1
</select>

<insert id = "addAttach">
	insert into tb_file(f_path, b_seq) values (#{fullName}, LAST_INSERT_ID());
</insert>

</mapper>