<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "jake.friend.mapper.fileMapper">

<select id = "getFiles" resultType = "file">
	SELECT f_seq, b.b_seq, f.f_regdate, f.f_path, b.b_title, b.b_content, b.u_name 
	FROM tb_file f JOIN tb_bbs b ON f.b_seq = b.b_seq WHERE b.b_status != 1 ORDER BY f_regdate DESC limit 10
</select>

</mapper>