<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace = "jake.friend.mapper.userMapper">

<insert id = "create" parameterType="user">
	insert into tb_user(email, u_name, pwd, sex, age, height, weight) 
	values (#{email}, #{u_name}, #{pwd}, #{sex}, #{age}, #{height}, #{weight})
</insert>

<select id = "login" resultType="user">
	select u_seq,u_name, sex, age, height, weight from tb_user
	where email = #{email}
	and u_status != 1
</select>

<update id = "keepLogin">
	update tb_user set sessionKey = #{sessionId}, sessionLimit = #{next} where u_seq = #{u_seq}
</update>

<select id = "checkUserWithSessionKey" resultType = "user">
	select * from tb_user where sessionKey = #{value} and sessionlimit > now();
</select>


</mapper>