<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace = "jake.friend.mapper.userMapper">

<insert id = "create" parameterType="user">
	insert into tb_user(email, u_name, pwd, sex, age, height, weight) 
	values (#{email}, #{u_name}, #{pwd}, #{sex}, #{age}, #{height}, #{weight})
</insert>

</mapper>