<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
	<typeAlias alias="bbs" type = "jake.friend.domain.bbsVO"/>
	<typeAlias alias="user" type = "jake.friend.domain.userVO"/>
	<typeAlias alias="file" type = "jake.friend.domain.fileVO"/>
	</typeAliases>
</configuration>
